/**
* Metis - Bootstrap-Admin-Template v2.2.7
* Author : onokumus 
* Copyright 2014
* Licensed under MIT (https://github.com/onokumus/Bootstrap-Admin-Template/blob/master/LICENSE.md)
*/
body.boxed {
  background: url("../img/pattern/batthern.png") repeat;
}
#top > .navbar {
  border-top: 3px solid #428bca;
}
#top > .navbar .dropdown-menu > li > a:hover,
#top > .navbar .dropdown-menu > li > a:focus {
  background-color: #428bca;
  color: #ffffff;
}
#menu {
  background-color: #428bca !important;
}
#menu > li > a {
  color: #ffffff;
  text-shadow: none !important;
}
.sidebar-left-mini #menu > li > a > .link-title {
  background-color: #3681c1 !important;
}
