    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">

<h1>&nbsp;</h1>
<div align="center"><img src="../../../untitled.png" width="290" height="61"></div><br>

<p align="center">
	<a href="index.php" class="btn-sm btn-success btn-grad">Si</a>
    <a href="../index.php" class="btn-sm btn-success btn-grad">No</a>
  
</p>
